<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BodyComp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <BodyComp.My.MySettings>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="gender" serializeAs="String">
                <value />
            </setting>
            <setting name="height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="weight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bmi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serialnumber" serializeAs="String">
                <value />
            </setting>
            <setting name="productkey" serializeAs="String">
                <value />
            </setting>
            <setting name="age" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightinch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightfoot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="activitiylevel" serializeAs="String">
                <value />
            </setting>
            <setting name="genskinv" serializeAs="String">
                <value />
            </setting>
            <setting name="abdominal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="triceps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="midauxillary" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="subscapular" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Suprailiac" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bodydense" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fatpercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fatmass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fatfreemass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="classifv" serializeAs="String">
                <value />
            </setting>
            <setting name="fatenergystore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bmrv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bowlingv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="walkv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bikev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tennisv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bballv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="runv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mhrv" serializeAs="String">
                <value>0</value>
            </setting>
        </BodyComp.My.MySettings>
    </userSettings>
</configuration>
